body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F6F6 !important;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #1f34ad  !important;
}

.employee .active {
  color: black;
}

.employee .inactive {
 color: gray;
}

/* table header background color  */
.css-gl260s-MuiDataGrid-columnHeadersInner {
  background-color: white !important;
}

/* table even rows background color  */
.MuiDataGrid-root .MuiDataGrid-row:nth-child(even) {
  background-color: #ffffff !important; /* or any other color you want */
}
/* table header name font weight bold  */
.css-t89xny-MuiDataGrid-columnHeaderTitle {
  font-weight: bold !important;
}
.css-1iyq7zh-MuiDataGrid-columnHeaders{
  background-color: white !important;
}

/* pagination */
.result_pagination {
  background-color: #3F84FC;
  color: #fff;
  font-size: 14px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  justify-content: flex-end;
}

.result_pagination .form-control,
.result_pagination select {
  line-height: 23px !important;
  padding: 0px 0px !important;
  border-radius: 20px !important;
  font-size: 15px;
  background-color: #3F84FC !important;
  color: #fff !important;
  display: block;
  width: 24px !important;
  box-sizing: border-box;
  height: 20px !important;
  font-weight: bold;
  border: 1px solid #3F84FC !important;
}

.result_pagination .pagination {
  margin: 0;
  display: flex;
  list-style: none;
}

.result_pagination .pagination li {
  margin: 1px;
}

.result_pagination .pagination .page-num {
  padding: 4px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
}

.result_pagination .pagination .page-num:hover {
  background-color: rgba(255,255,255,0.1);
  color: #fff;
}

.result_pagination .pagination .active {
  background-color: rgba(255,255,255,0.15);
  color: #fff;
}
.MuiListItem-gutters {
  padding-left: 16px;
  padding-right: 16px;
  width: auto !important;
}
@media screen and (max-width: 580px) {
  .MuiBox-root-10  {
    display: none !important;
  }
}
/* leave admin */
.css-9vnvu0-MuiCardContent-root{
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  text-align: center;
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 15px;
}
